@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Playfair+Display:wght@400;700&family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
::selection {
  @apply bg-highlight
}


html {
  @apply bg-primary
}
  h1,
  h2,
  h3 {
    font-family: "Playfair Display", serif;
  }

  h4 {
    font-family: "Roboto Mono", monospace;
    @apply text-gray text-sm tracking-[2px];
  }

  b,
  p,
  a {
    font-family: "Open Sans", sans-serif;
  }

  b {
    @apply text-sm;
  }

  .waveAnimate {
    animation-name: waveAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    display: inline-block;
  }

  .dynamicPadding {
    padding-left: min(100px, 5%);
    padding-right: min(100px, 5%);
  }

  .fade0 {
    opacity: 0;
    animation: 1s ease-in-out 0s 1 fadeIn;
    animation-fill-mode: forwards;
  }

  .fade1 {
    opacity: 0;
    animation: 1s ease-in-out 0s 1 fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 400ms;
  }

  .fade2 {
    opacity: 0;
    animation: 1s ease-in-out 0s 1 fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
  }

  .slide {
    opacity: 0;
    animation: slideLeft 1s forwards;
    animation-delay: 1000ms;
  }

  .gs1 {
    opacity: 0;
    animation: slideRight 0.8s forwards;
    animation-delay: 1000ms;
  }

  .gs2 {
    opacity: 0;
    animation: slideRight 0.8s forwards;
    animation-delay: 1200ms;
  }

  .gs3 {
    opacity: 0;
    animation: slideRight 0.8s forwards;
    animation-delay: 1400ms;
  }

  .gs4 {
    opacity: 0;
    animation: slideRight 0.8s forwards;
    animation-delay: 1600ms;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-25px);
    }

    100% {
      opacity: 1;
      transform: translateX();
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(25px);
    }

    100% {
      opacity: 1;
      transform: translateX();
    }
  }

  @keyframes waveAnimation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
