@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Playfair+Display:wght@400;700&family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: "Playfair Display", serif;
  }

  h4 {
    font-family: "Roboto Mono", monospace;
    @apply text-gray text-sm tracking-[2px];
  }

  b,
  p {
    font-family: "Open Sans", sans-serif;
  }

  b {
    @apply text-sm;
  }

  .leftSide {
    padding-left: min(100px, 5%);
  }

}

