@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Playfair+Display:wght@400;700&family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: "Playfair Display", serif;
  }

  h4 {
    font-family: "Roboto Mono", monospace;
    @apply text-gray text-sm tracking-[2px];
  }

  b,
  p,
  a {
    font-family: "Open Sans", sans-serif;
  }

  b {
    @apply text-sm;
  }

  .dynamicPadding {
    padding-left: min(100px, 5%);
    padding-right: min(100px, 5%);
  }

  .fadeBg {
    animation: fadeInBg 1s;
  }

  .fade1 {
    animation: 1.5s ease-in-out 0s 1 fadeIn;
  }

  .fade2 {
    animation: 1.8s ease-in-out 0s 1 fadeIn2;
  }

  .slide2 {
    animation: slideIn2 1.8s forwards;
  }


  @keyframes fadeInBg {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn2 {
    0% {
      opacity: 0;
      transform: translateX(-25px);
    }

    80% {
      opacity: 0;
      transform: translateX(-25px);
    }

    100% {
      opacity: 1;
      transform: translateX();
    }
  }
}
